# Build
build/
out/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake

# IDE
.vs/
.vscode/
.idea/
*.suo
*.user
*.sln.docstates

# Compiled files
*.obj
*.o
*.exe
*.dll
*.lib
*.a
*.so
*.dylib
*.pdb
*.ilk
*.exp

# Node / Electron
node_modules/
dist/
pnpm-debug.log*

# OS
Thumbs.db
Desktop.ini
.DS_Store
